<div *ngIf="showDetails" style=" z-index: 9999;position: absolute; right: 10px; top: 64px;">
  <div class="col right">
    <div class="card deep-purple">
      <div class="card-content white-text">
        <span class="card-title">Profile details</span>
        <p>
          <span>Username : {{UserName}}</span>
          <br>
        </p>
      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn deep-purple darken-3" (click)="Logout()">logout</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div style="width: 450px; position: absolute; z-index: 9999">
    <ul class="collection" style="margin-top: 64px;">
    <mat-accordion>
      <cdk-virtual-scroll-viewport itemSize="50" class="poi-viewpoint">
        <li  *cdkVirtualFor="let poi of poiList; let i = index" class="">
        <mat-expansion-panel>
          <mat-expansion-panel-header (click)="getPoiDetails(poi.id)">
            <mat-panel-title style="width: 230px;">
              <img *ngIf="poi.place_type.name === 'School'" style="height: 34px; margin-right: 10px;" src="assets/images/School.png" class="circle">
              <img *ngIf="poi.place_type.name === 'Hospital'" style="height: 34px; margin-right: 10px;" src="assets/images/Hospital.png" class="circle">
              <img *ngIf="poi.place_type.name === 'Airport'" style="height: 34px; margin-right: 10px;" src="assets/images/Airport.PNG" class="circle">
              <img *ngIf="poi.place_type.name === 'Sports club'" style="height: 34px; margin-right: 10px;" src="assets/images/Sports club.PNG" class="circle">
              <img *ngIf="poi.place_type.name === 'Shopping mall'" style="height: 34px; margin-right: 10px;" src="assets/images/Shopping mall.PNG" class="circle">
              <img *ngIf="poi.place_type.name === 'Stadium'" style="height: 34px; margin-right: 10px;" src="assets/images/Stadium.PNG" class="circle">
              <img *ngIf="poi.place_type.name === 'Swimming pool'" style="height: 34px; margin-right: 10px;" src="assets/images/Swimming pool.PNG" class="circle">
              {{poi.name}}
              <a style="float: right; margin-left: 30px;"><span *ngFor="let number of [0,1,2,3,4]"><i *ngIf="number < poi.rating" class="material-icons icon-grade">grade</i></span></a>
            </mat-panel-title>
            <mat-panel-description style="text-align: right">
              <a>{{poi.place_type.name}}</a>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <cdk-virtual-scroll-viewport itemSize="50" class="poi-viewpoint">
          <p>
            <a>{{openPoi.address}}</a>
<!--            <a style="float: right"><span *ngFor="let number of [0,1,2,3,4]"><i *ngIf="number < openPoi.rating" class="material-icons icon-grade">grade</i></span></a>-->
            </p>
          <br>
          <p>
            <a>{{openPoi.description}}</a>
          </p>
          <ul class="collection with-header"  *ngIf="imageSrcs.length>0">
            <li class="collection-header"><h6>Galeria</h6></li>
            <li class="collection-item" style="padding-left: 20px">
                <mat-grid-list cols="3" rowHeight="130px">
                    <mat-grid-tile *ngFor="let image of imageSrcs"
                        [colspan]="1"
                        [rowspan]="1">
                        <img [src]="image" class="responsive-img">
                    </mat-grid-tile>
                  </mat-grid-list>
            </li>
          </ul>
          <ul class="collection with-header">
            <li class="collection-header"><h6>Dodatkowe atuty</h6>
            </li>
            <span *ngIf="openPoi.conveniences">
              <li  class="collection-item" *ngFor="let conv of openPoi.conveniences">
                <p class="comment-owner">{{conv.name}}
                </p>
              </li>
            </span>
          </ul>
          <ul class="collection with-header">
            <li class="collection-header"><h6>Wszystkie opinie <span class="right waves-effect waves-light btn deep-purple darken-3" style="transform: translateY(-10px);" (click)="addOpinion()">Dodaj</span>
            </h6>
          </li>
            <span *ngIf="openPoi.opinions">
              <li  class="collection-item" *ngFor="let opinion of openPoi.opinions">
                <p class="comment-owner">{{opinion.user_login}}
                </p>
                <p class="comment-description">{{opinion.date | date }}
                </p>
                <p class="comment-description">{{opinion.opinion}}
                </p>
                <p class="comment-description">
                  <a href="#" style="color: green" 
                      (click)="scoreComment(opinion, 1); false">+++</a>
                  <span style="margin-left: 10px;">{{opinion.commentScore}}</span>
                  <a href="#" style="margin-left: 10px; color: red"
                      (click)="scoreComment(opinion, -1); false">---</a>
                </p>
              </li>
            </span>
          </ul>
          </cdk-virtual-scroll-viewport>
        </mat-expansion-panel>
      </li>
      </cdk-virtual-scroll-viewport>
    </mat-accordion>
  </ul>
  </div>

  <div class="col s12 no-padding">
    <nav class="nav-extended">
      <div class="nav-wrapper center deep-purple" style="z-index: 9999">
        <a href="#!" class="brand-logo"> ZMZP POI </a>
        <ul class="left hide-on-med-and-down">
          <li (click)="sort('rating')"><a><i class="material-icons left">grade</i>Sort by Rating</a></li>
        </ul>
        <ul class="left hide-on-med-and-down">
          <li (click)="sort('name')"><a><i class="material-icons left">title</i>Sort by Name</a></li>
        </ul>
        <ul class="left hide-on-med-and-down">
          <li (click)="sort('category')"><a><i class="material-icons left">category</i>Sort by Category</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li (click)="ShowHideProfileDetails()"><a><i class="material-icons right">person_outline</i>Profile</a></li>
        </ul>
      </div>
    </nav>
    <zmzp-osm [poiList]='poiList' [cords]="cords"></zmzp-osm>
  </div>
</div>
