.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.poi-viewpoint {
    height: calc(100vh - 65px);
    width: 100%;
}

i.icon-grade {
  color: #b3b547;
  font-size: 18px;
  transform: translateY(2px);
}

.comment-owner{
  font-size: 13px;
}
.comment-description{
  font-size: 12px;
}

